

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-image: url(../img/bg5.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  font-family: 'Open Sans','helvetica',arial,sans-serif;
  font-weight: 300;
  color: #62686f;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: 300;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.main-header {
  margin-top: 100px;
  /*margin-bottom: 10px;*/
  padding: 1px;

  text-align: center;

  background-image: url(../img/banner.jpg);
}

.main-header__avatar {
  display: block;
  margin: 0 auto;
  margin-top: -70px;
  margin-bottom: 10px;

  box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
  border-radius: 999px;
}

.main-header h1 {
  margin-bottom: 20px;

  color: white;
  font-weight: 300;
  font-size: 50px;
  font-family: 'Open Sans','helvetica',arial,sans-serif;
  text-shadow: 0 1px rgba(0,0,0,0.3);
}

.main-nav {
  text-align: center;
  background-color: #333;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav ul li {
  margin: 15px 10px;
  display: inline-block;
}

.main-nav ul li a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav ul li a:hover {
  text-decoration: underline;
}

.info-section {
  padding: 30px 60px;
  background-color: #fff;
  text-align: center;
}

.info-section__description {
  font-style: italic;
}

.info-section header h2{
  display: block;
  margin-top: 0;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.info-section header h2:after {
  content: "";
  border-bottom: 3px solid black;
  display: block;
  width: 80px;
  margin: 15px auto;
}


.whatido__skill-list {
  margin-top: 60px;
  padding-left: 0;
  list-style: none;

  /*overflow: hidden;*/
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.whatido ul li{
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 100px;
  height: 150px;

  float: left;
  width: 33.33%;
}

.whatido__skill--code {
  background-image: url(../img/skill-code.png);
}

.whatido__skill--design {
  background-image: url(../img/skill-design.png);
}

.whatido__skill--product {
  background-image: url(../img/skill-product.png);
}

.education-experience {

}

ul.education-experience__list {
  list-style: none;
  overflow: hidden;
}

ul.education-experience__list li {
  margin: 30px;
  overflow: hidden;
}

ul.education-experience__list li img {
  float: left;
  height: 180px;
}

ul.education-experience__list li article {
  padding-left: 40px;
  overflow: hidden;
  text-align: left;
}

ul.education-experience__list li h3{
  margin-top: 0;
}

.photos {
  box-sizing: border-box;
}

ul.photos__list {
  list-style: none;
  overflow: hidden;
}

ul.photos__list li{
  width: 25%;
  float: left;
}

ul.photos__list li img{
  padding: 5px 5px;
  width: 100%;
}

.get-in-touch {
  box-sizing: border-box;
}

.get-in-touch header {
  margin-top: 40px;
}

.get-in-touch ul{
  margin: 80px 80px;
  padding-left: 0;
  list-style: none;
  overflow: hidden;
}

.get-in-touch ul li{
  padding: 5px 5px;
  width: 25%;
  float: left;
}

.get-in-touch ul li img{
  height: 136px;
}

.contact header {

}

.contact form {

}

.box {
  margin: 20px auto;
  position: relative;
  width: 40%;
}

.box input {
  height: 30px;
  width: 95%;
}

.box textarea {
  height: 100px;
  width: 95%;
}

.align-left {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;

  text-align: right;
}

.contact form button{
  height: 40px;
  width: 95%;
  color: white;
  background-color: #daae1d;
  border: none;
  border-radius: 1000px;
}




